<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <header>
        <a class="project-title" href="{{ "/" | relative_url }}">ÌLibre BarcodeJÎ</a>
    </header>
    {%- assign page_paths = site.pages | sort: "path" | sort: "order" | map: "path" -%}
    {%- for path in page_paths -%}
        {%- assign starts_with = path | slice: 0, 14 -%}
        {%- if starts_with != "index.md" and starts_with != 'documentation/' -%}
            {%- continue -%}
        {%- endif -%}
        {%- assign current_page = site.pages | where: "path", path | first %}
        <a class="page-link" href="{{ current_page.url | relative_url }}">{{ current_page.title | default: path | escape }}</a>
        <br />
     {% endfor -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <footer>
      {%- capture footer -%}{%- include footer.md -%}{%- endcapture- %}
      {{ footer | markdownify }}
    </footer>
  </body>
</html>

