<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    {%- assign page_paths = site.pages | map: "path" 
                    | where_exp: "path", "path contains 'web/'" -%}
    {%- for path in page_paths -%}
            {%- assign current_page = site.pages | where: "path", path | first -%}
            <a class="page-link" href="{{ current_page.url | relative_url }}">{{ current_page.title | default: path | escape }}</a>
     {%- endfor -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>

